@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body >
    <div>
        <a href="@Url.Action("CandidateProfile", "CreateCandidate")" ><img src="~/Content/12.jpg" />Новый кандидат</a>
    </div>
</body>
</html>
